/* Main stylesheet aggregator */
/* Order: variables/base -> layout -> components -> utilities -> legacy (last) */

/* Placeholder imports for future modularization */
/* @import './variables.css'; */
/* @import './base.css'; */
/* @import './layout.css'; */
/* @import './components.css'; */
/* @import './utilities.css'; */
/* @import './animations.css'; */

/* Large legacy stylesheet (temporarily kept intact) */
@import './legacy.css';
